:root {
        --font-1-family: p22_cezanne_pro_regular-webfont.woff2,
            Arial,
            sans-serif;

        --font-2-family: blackbeard_regular-webfont.woff2,
            sans-serif,
            Arial;

        --font-3-family: carol_gothic_regular-webfont.woff2,
            Arial,
            sans-serif;  
}

