@font-face {
    font-family: 'p22_cezanne_pro_regular-webfont';
    src: url('fonts/p22_cezanne_pro_regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'blackbeard_regular-webfont';
    src: url('./fonts/blackbeard_regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'carol_gothic_regular-webfont';
    src: url('./fonts/carol_gothic_regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-1-family: p22_cezanne_pro_regular-webfont,
        Arial,
        sans-serif;

    --font-2-family: blackbeard_regular-webfont,
        sans-serif,
        Arial;

    --font-3-family: carol_gothic_regular-webfont,
        Arial,
        sans-serif;


    --font-2-size-small: 21px;
    --font-2-size-medium: 27px;
    --font-2-size-large: 33px;


    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    h4 {
        font-size: 1.7rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 1.5rem;
    }

    h1.secondary,
    h2.secondary,
    h3.secondary,
    h4.secondary,
    h5.secondary,
    h6.secondary {
        font-family: var(--font-3-family);
    }


    --color-light-scale-1: #a75d04;
    --color-light-scale-2: #b36a1b;
    --color-light-scale-3: #be772c;
    --color-light-scale-4: #c9843c;
    --color-light-scale-5: #d5924b;
    --color-light-scale-6: #e09f5b;
    --color-dark-scale-1: #6c693c;
    --color-dark-scale-2: #61542e;
    --color-dark-scale-3: #554022;
    --color-dark-scale-4: #462d19;
    --color-dark-scale-5: #361c10;
    --color-dark-scale-6: #260b00;
    --color-accent-opaque-light-scale-1: rgba(167, 93, 4, 0.2);
    --color-accent-opaque-light-scale-2: rgba(179, 106, 27, 0.2);
    --color-accent-opaque-light-scale-3: rgba(190, 119, 44, 0.2);
    --color-accent-opaque-light-scale-4: rgba(201, 132, 60, 0.2);
    --color-accent-opaque-light-scale-5: rgba(213, 146, 75, 0.2);
    --color-accent-opaque-light-scale-6: rgba(224, 159, 91, 0.2);
    --color-accent-opaque-dark-scale-1: rgba(108, 105, 60, 0.5);
    --color-accent-opaque-dark-scale-2: rgba(97, 84, 46, 0.5);
    --color-accent-opaque-dark-scale-3: rgba(85, 64, 34, 0.5);
    --color-accent-opaque-dark-scale-4: rgba(70, 45, 25, 0.5);
    --color-accent-opaque-dark-scale-5: rgba(54, 28, 16, 0.5);
    --color-accent-opaque-dark-scale-6: rgba(38, 11, 0, 0.5);
    --color-static-light: white;
    --color-static-dark: black;

}

.logo-container {
    position: absolute;
    top: 0;
    left: var(--space-tiny);

    & img {
        border-radius: 0 0 20px 20px;
    }
}

.background-gradient-1 {
    background-image: linear-gradient(90deg, transparent 0%, var(--color-dark-scale-6) 95%);
}